:root {
  --basic-black: #000000;
  --lighter-black: #283136;
  --light-black: #666666;

  --dark-gray: #444444;
  --lighter-gray: #4D4D4D;
  --light-gray: #D7DCDE;
  --basic-gray: #B4B9BB;

  --basic-white: #FFFFFF;
  --darker-white: #DBDBDB;
  --light: #EEEEEE;
  --darker-light-100: #E1E1E1;
  --darker-light-200: #C1C1C1;
  --darker-light: #DFDFDF;
  --darker-light-300: #ABABAB;
  --dark-light: #D5D5D5;

  --basic-red: #FB565A;
  --darker-red: #E74246;
  --dark-red: #D7373B;

  --basic-green: #00CA74;
  --darker-green: #00BC6C;
  --dark-green: #00AA62;

  --basic-yellow: #EFC849;
  --darker-yellow: #EAB534;
  --dark-yellow: #E5A722;
}

* {
  box-sizing: border-box;
}

.page {

  height: 100%;
}

.page__body {
  position: relative;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  margin: 0;
  padding: 0;
  min-width: 1160px;
  height: 100%;
  font-family: Roboto, Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--lighter-black);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1160px;
  margin: 0 auto;

}

.clear-paragraph {
  margin: 0;
  padding: 0;
}

.clear-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.decor-line {
  width: 100%;
  height: 2px;
  background-color: var(--light);
  border: none;
  margin-bottom: 39px;
}

/* index-header */
.page__header {
  padding: 0 10px;
  background-color: var(--light);
}

.header__nav {
  padding: 48px 0 0;
  display: grid;
  grid-template-columns: 160px 1fr min-content;
  gap: 20px;
  align-items: center;
}

.header-link {
  position: relative;
  text-decoration: none;
  font-style: normal;
  color: var(--basic-black);
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  text-transform: uppercase;
}

.nav-list__item+.nav-list__item {
  margin-left: 45px;
}

.header-link:hover,
.header-link:focus {
  color: var(--basic-red);
}

.header-link:active {
  color: var(--basic-black);
  opacity: 30%;
}

.current::after {
  position: absolute;
  top: 37px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background-color: var(--basic-red);
}

.logo-link:hover,
.logo-link:focus {
  opacity: 70%;
}

.logo-link:active {
  opacity: 30%;
}

.nav-list {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.cart {
  position: relative;

  display: block;
  width: 113px;
  padding-left: 40px;
}

.cart::before {
  position: absolute;
  content: '';
  left: 0;
  top: 7px;
  background-image: url('img/cart-icon.svg');
  width: 15px;
  height: 15px;
}

/* promo-section */

.promo {
  display: none;
}

.promo-background {
  position: relative;
}

.promo-wrapper-current {
  position: relative;
}

/* ------slider-controls------ */

.slide-controls {
  position: absolute;
  display: flex;
  left: 50%;
  bottom: 96px;
  width: 100px;
  text-align: center;
}

.slide-control {
  position: relative;
  width: 18px;
  height: 18px;
  border: none;
  border-radius: 50%;
  background-color: var(--light);
}

.slide-control+.slide-control {
  margin-left: 17px;
}

.current-slide::before {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-top: -4px;
  margin-left: -4px;
  content: "";
  width: 4px;
  height: 4px;
  background-color: var(--basic-white);
  border: 2px solid var(--darker-light-200);
  border-radius: 50%;
}

/* --------- */
.promo-current {

  opacity: 0.99;
  display: block;
  width: 538px;
  padding: 80px 0 0;
  width: max-content;
  margin-bottom: 80px;

}

.promo-wrapper-1::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  background-image: url("img/mobile-slide1.png");
  width: 760px;
  height: 431px;
}

.promo-wrapper-2::before {
  position: absolute;
  top: 0;
  right: 0;
  content: "";
  background-image: url("img/screen-slide2.png");
  width: 760px;
  height: 431px;
}

.promo-wrapper-3::before {
  position: absolute;
  z-index: -1;
  top: 0;
  right: 0;
  content: "";
  background-image: url("img/laptop-slide3.png");
  width: 760px;
  height: 431px;
}

.promo-background {
  width: 100%;
  background-color: var(--light);
}

.promo__slogan {
  display: flex;
  flex-wrap: wrap;
  z-index: 10;
  margin-bottom: 25px;
  font-style: normal;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

.promo-button {
  margin-bottom: 80px;
  margin-top: 38px;
  padding: 15px 57px;
}

/* button */
.button {
  display: inline-block;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-white);
  background-color: var(--basic-red);

  border-radius: 3px;
}

.button:hover {
  background-color: var(--darker-red);
}

.button:active {
  background-color: var(--dark-red);
}

.services-button {
  padding: 15px 40px;
  margin-top: 32px;
}

.services-button_green {
  padding: 15px 40px;
  margin-top: 32px;
  background-color: var(--basic-green);
}

.services-button_green:hover {
  background-color: var(--darker-green);
}

.services-button_green:active {
  background-color: var(--dark-green);
}

.services-button_yellow {
  padding: 15px 40px;
  margin-top: 32px;
  background-color: var(--basic-yellow);
}

.services-button_yellow:hover {
  background-color: var(--darker-yellow);
}

.services-button_yellow:active {
  background-color: var(--dark-yellow);
}

.button_catalog {
  width: 50px;
  padding: 17px 0 15px;
  text-align: center;
  background-color: var(--light);
  color: var(--basic-black);
  border-style: none;
}

.button_catalog:hover {
  background-color: var(--darker-light);
}

.button_catalog:active {
  background-color: var(--dark-light);
}

.button_catalog-next {
  width: 260px;
}

.filter-catalog-button {
  width: 100%;
  margin-top: 5px;
  padding: 17px 0 15px;
  color: var(--basic-black);
  border: none;
  background-color: var(--light);
}

.filter-catalog-button:hover {

  background-color: var(--darker-light);

}

.filter-catalog-button:active {

  background-color: var(--dark-light);

  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* services */

.services {

  margin-bottom: 80px;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  gap: 100px;
}

.services__item {
  text-align: left;
  width: 300px;
}

.services__header {
  position: relative;
  margin: 171px 0 16px;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.services-before::before {
  position: absolute;
  top: -171px;
  left: 0;
  content: "";
  width: 300px;
  height: 146px;
  background-repeat: no-repeat;
}

.services-website::before {
  background-image: url("img/services\ web\ site.png");
}

.services-app::before {
  background-image: url("img/services\ apps.png");
}

.services-presentation::before {
  background-image: url("img/services\ presentaions.png");
}

/* about us */

.about-us {
  margin: 39px 0 73px;

}

.about-us__grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
}

.about-us__second-column {
  position: relative;
}

.first-column {
  grid-column: 1/3;
}

.about-us__description {
  margin: 0;
  margin-top: 39px;
  margin-bottom: 32px;
  font-style: normal;
  font-weight: 500;
  font-size: 45px;
  line-height: 45px;
  color: var(--basic-black);
}

.about-us__featuares_list {
  margin-top: 40px;
}

.about-us__term {
  margin: 0;
  margin-bottom: 23px;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase;
  color: var(--lighter-black);
}

.about-us__definition {
  position: relative;
  margin: 0;
  padding-left: 32px;
}

.about-us__definition::before {
  position: absolute;
  top: 11px;
  left: 0;
  content: "";
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.about-us__definition+.about-us__definition {
  margin-top: 24px;
}

.statistics-content {
  margin-top: 245px;

}

.statistics-content::before {

  content: "";
  background-image: url("img/decor_about_us.png");
  width: 360px;
  height: 208px;
  position: absolute;
  top: 0;
  right: 0;
  margin-bottom: 100px;

}

.statistics-content th {
  text-align: start;
  font-style: normal;
  font-weight: 700;
  font-size: 45px;
  line-height: 64px;
  color: var(--basic-black);
}

.statistics-content sup {
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 40px;
  color: var(--basic-black);
}

.statistics-content td {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--lighter-black);
}

/* clients */

.clients {
  border-top: 2px solid var(--light);
  border-bottom: 2px solid var(--light);
  margin-bottom: 80px;
  /* padding: 46px; */
}

.clients-list {
  display: grid;
  grid-template-columns: 279px 298px 298px 279px;
}

.clients__item {
  display: flex;
  justify-content: center;

  position: relative;
  padding: 46px 0;
  min-width: 279px;
  align-items: center;
}

.clients__item+.clients__item::before {
  position: absolute;
  top: 64px;
  left: 0;
  width: 2px;
  height: 52px;
  background-color: var(--light);
  content: "";
}

.clients__item:nth-child(5n)::before {
  position: absolute;
  top: 64px;
  left: 0;
  width: 2px;
  height: 52px;
  background-color: transparent;
  content: "";
}

.clients__link {
  opacity: 0.2;
}

.clients__link:hover {
  opacity: 1;
}

.clients__link:active {
  opacity: 0.1;
}

/* main-footer */
.top-footer {
  position: relative;
  z-index: 0;
}
.map-wrapper{
  position: absolute;
  top: 0;
  left: 0;
 width: 100%;
 height: 100%;

}


.contacts-wrapper {
  /* position: relative;
  top: 0;
  left: 0;
 width: fit-content; */
  padding: 54px 0;

}

.contacts {
  position: relative;
  min-height: 308px;
  width: 319px;
  padding: 50px;

  margin-right: auto;
  background-color: var(--basic-white);
z-index: 1;
}

.contacts__header {
  margin: 0;
  margin-bottom: 22px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.contacts__text {
  margin-bottom: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--light-black);
}

.contacts__text+.contacts__text {
  margin-bottom: 0;
}

.contacts__tel {
  font: inherit;
  text-decoration: none;
  color: var(--light-black);
}

.top-footer-button {
  margin-top: 37px;
  padding: 15px 44px;
}

.social {
  min-height: 218px;
  display: grid;
  grid-template-columns: min-content 1fr;
  gap: 140px;
  align-items: center;
}

.social__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 9px;
  margin: 0;
  padding: 0;
  list-style: none;

}

.social_button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--basic-white);
  text-decoration: none;
  background: var(--darker-light-100);
  width: 81px;
  height: 81px;
  border-radius: 50%;
}

.social_button:hover {
  color: var(--basic-white);
  text-decoration: none;
  background: linear-gradient(0deg, var(--darker-red), var(--darker-red)), #FFFFFF;
}

.social_button:active {
  background: linear-gradient(0deg, var(--dark-red), var(--dark-red)), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social__slogan {
  margin: 0;
  margin-bottom: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 36px;
  color: var(--basic-black);
}

.social-text {
  margin: 0;

  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--dark-gray);
}

/* -----modal------ */

.modal-wrapper {
  display: none;
  position: fixed;
  overflow: auto;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.modal-show{
  display: block;
  animation: bounce 0.6s;
}

.modal-error {
  animation: shake 0.6s;
}

/* Animations */

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.modal {
  position: absolute;
  left: 50%;
  bottom: 10%;
  margin-left: -480px;
  padding: 63px 100px;
  width: 960px;
  height: 590px;
  background-color: var(--basic-white);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.modal-top-wrapper {

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 37px;
}

.modal__header {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 45px;
  line-height: 53px;
  color: var(--basic-black);
}

.close-button {
  width: 21px;
  height: 21px;
  border: none;

  background-image: url("img/close-cross.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  font-size: 0;
}

.close-button:hover {
  opacity: 1;
}

.close-button:active {
  opacity: 0.1;
}

.modal-form {

  display: flex;
  flex-direction: column;
  width: 761px;
  font-weight: 700;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-black);
}

.modal-form__top {

  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}

.modal-form__middle {
  display: flex;
  flex-direction: column;

  margin-bottom: 47px;
}

.modal-form__top label {

  display: flex;
  flex-direction: column;
}

.modal-form__input {
  margin: 0;
  padding: 0;
  margin-top: 9px;
  padding: 16px;
  border-width: 2px;
  border-style: solid;
  border-radius: 3px;
  width: 100%;
  border-color: var(--light-gray);
  resize: none;
}

.input-name {
  width: 360px;
}

.modal-form-button {
  width: 259px;
  border-color: var(--basic-red);
  border-style: none;
  text-align: center;
  padding: 17px 0 15px;

}

/*------- catalog------- */

.catalog__body {
  font-family: 'Roboto', Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--light-black);
}

.background-gray {

  background-color: var(--light);
}

/* ------catalog-header------- */

.main-header {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 55px;
  line-height: 55px;
  color: var(--basic-black);
}

.top-container {
  padding: 78px 78px 108px;
  margin-bottom: 50px;
  text-align: center;
  background-color: var(--light);
}

/* ------catalog-main------ */

.fieldset-clear {
  margin: 0;
  padding: 0;
  border: none;
}

.catalog__header-margin {
  margin: 0;
  margin-bottom: 48px;
}

.catalog-page-columns {
  display: grid;
  grid-template-columns: 260px 1fr;
  gap: 140px;
}

.second-column {

  grid-template-rows: min-content 1fr min-content;
  margin-bottom: 50px;
  width: 760px;
}


/* -----form-filter----- */

.form-filter {

  text-align: left;
}

.catalog__header-style {

  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.range-wrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 80px;
  margin-bottom: 14px;
  border: 1px solid var(--light);
  border-radius: 3px;
  background-color: var(--light);
}

.range-scale {
  height: 2px;
  width: 205px;
  margin: auto;
  background-color: var(--light-gray);
}

.range-bar {
  height: 2px;
  width: 138px;
  background-color: #00CA74;
}

.range-toggle {
  position: absolute;
  top: 50%;
  margin-top: -10px;
  height: 20px;
  width: 20px;
  background-color: var(--darker-light-300);
  border: 8px solid var(--basic-white);
  border-radius: 50%;
}

.left-toggle {
  left: 18px;
}

.right-toggle {
  right: 80px;
}

.range-input-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.range-input {
  width: 80px;
  height: 38px;
  margin-left: 12px;
  text-align: center;
  background-color: var(--light);
  border: 1px solid var(--light);
  border-radius: 3px;
}

.range-value-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: var(--lighter-black);
}

.price-filter {
  margin-bottom: 54px;
}

.filter_caption {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: var(--lighter-black);
}

.form-filter-list {
  margin-top: 14px;
  margin-bottom: 43px;
}

.form-filter-item {

  position: relative;
  padding-left: 36px;
  margin-bottom: 18px;
}

.filter-input-radio+label::before {
  position: absolute;
  content: "";
  left: 0;
  top: -4px;
  width: 25px;
  height: 25px;
  opacity: 0.4;
  background-image: url("img/radio-off.svg");
}

.filter-input-radio:checked+label::before {
  position: absolute;
  content: "";
  left: 0;
  top: -4px;
  width: 25px;
  height: 25px;
  background-image: url("img/radio-on.svg");
  opacity: 0.4;
}

.filter-input-radio:hover+label::before,
.filter-input-radio:focus+label::before,
.filter-input-radio:checked:hover+label::before,
.filter-input-radio:checked:focus+label::before {
  opacity: 1;
}

.filter-input-radio:disabled+label::before,
.filter-input-radio:checked:disabled+label::before {
  opacity: 0.1;
}

.filter-input-checkbox+label::before {
  position: absolute;
  content: "";
  left: 0;
  top: -4px;
  width: 23px;
  height: 23px;
  opacity: 0.4;
  background-image: url("img/checkbox.svg");
}

.filter-input-checkbox:checked+label::after {
  position: absolute;
  content: "";
  left: 0;
  top: -4px;
  width: 25px;
  height: 23px;
  background-image: url("img/checkbox-on.svg");
  opacity: 0.4;
}

.filter-input-checkbox:checked+label::before {
  display: none;
}

.filter-input-checkbox:hover+label::before,
.filter-input-checkbox:focus+label::before {
  opacity: 1;
}

.filter-input-checkbox:checked:hover+label::after,
.filter-input-checkbox:checked:focus+label::after {
  opacity: 1;
}

.filter-input-checkbox:checked:focus+label::after {
  opacity: 1;
}

.filter-input-checkbox:disabled+label::before,
.filter-input-checkbox:checked:disabled+label::after {
  opacity: 0.1;
}

/* -----sort----- */

.sort {
  display: grid;
  grid-template-columns: min-content 1fr;
  align-items: baseline;
  gap: 40px;
}

.sort__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
  list-style: none;

}

.sort__link {
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--basic-black);
  opacity: 0.3;
}

.sort__link:hover {
  opacity: 0.6;
}

.sort__link:active {
  opacity: 1;
}

.sort-item+.sort-item {
  margin-left: 25px;
}

.sort-item-arrow-down {
  margin-left: 47px;
}

.sort-item-arrow-up {
  margin-left: 18px;
}


.sort-arrow {
  font-size: 0;
}

/* -----goods----- */

.goods__list {

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 55px;

}

.goods-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  position: relative;
  padding-top: 40px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  overflow: hidden;
}

.goods-item::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  min-height: 40px;
  background-image: url("img/top-goods-item.svg");
  background-repeat: no-repeat;
  opacity: 0.12;
}

.goods-item:hover::before,
.goods-item:focus::before {
  opacity: 1;
}

.goods-item:hover,
.goods-item:focus {
  box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.25);
}

.goods-wrapper {
  display: block;
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 231px;
  padding: 26px 52px 44px;
  text-align: center;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;

}

.goods-item:focus-within .goods-wrapper,
.goods-item:hover .goods-wrapper {
  display: block;
  opacity: 1;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}



.goods-link {
  display: inline-block;
  margin-bottom: 12px;
  color: var(--basic-black);
  text-decoration: none;
}

.goods-link:hover {
  color: var(--basic-red);
}

.goods-link:active {
  color: var(--basic-black);
  opacity: 0.3;
}

.goods-button {
  width: 200px;
  margin-top: 32px;
  padding: 15px 0;
}

/* -----pagination------ */

.pagination__list {
  display: flex;
  flex-wrap: wrap;
}

.pagination__item {
  margin-bottom: 10px;
}

.pagination__item+.pagination__item {
  margin-left: 11px;
}

.button_catalog-current {
  padding: 14px 0 15px;
  height: 50px;
  width: 50px;
  text-align: center;
  color: var(--basic-black);
  background-color: var(--basic-white);
  border: 3px solid var(--darker-white);
  border-radius: 3px;
}
